################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokemonReviewApp/.vs/PokemonReviewApp/FileContentIndex/41159013-0cf0-44b7-82f5-b3d42789ae53.vsidx
/PokemonReviewApp/.vs/PokemonReviewApp/FileContentIndex
